
<mat-form-field color="accent">
  <mat-label>Từ ngày</mat-label>
  <input matInput [matDatepicker]="picker1">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field color="accent" style="margin-left:10px">
  <mat-label>Đến Ngày</mat-label>
  <input matInput [matDatepicker]="picker2"  data-date-format='dd-mm-yy' >
  <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
  <mat-datepicker #picker2 color="primary" ></mat-datepicker>
</mat-form-field>

